# Predict-The-Flight-Ticket-Price-

Size of training set: 10683 records

Size of test set: 2671 records

FEATURES:
Airline: The name of the airline.

Date_of_Journey: The date of the journey

Source: The source from which the service begins.

Destination: The destination where the service ends.

Route: The route taken by the flight to reach the destination.

Dep_Time: The time when the journey starts from the source.

Arrival_Time: Time of arrival at the destination.

Duration: Total duration of the flight.

Total_Stops: Total stops between the source and destination.

Additional_Info: Additional information about the flight

Price: The price of the ticket

### Importing Python libraries and Data set

In [1]:
#Importing numerical libraries
import numpy as np 

#Importing dataframe libraries pandas 
import pandas as pd

#Importing ploting libraries for plot
import matplotlib.pyplot as plt   

#Importing seaborn for statistical plots
import seaborn as sns

#Importing seaborn for statistical libraries
import scipy.stats as st
import statsmodels.formula.api as smf

#To enable plotting graphs in Jupyter notebook
%matplotlib inline 

#To Remove warnings in jupyter notebook
import warnings
warnings.filterwarnings('ignore')

#Importing accuracy measures and confusion matrix
from sklearn import metrics
import statsmodels.formula.api as smf
from sklearn.metrics import roc_curve, auc

#Importing sklearn package's splitting data for train and test data
from sklearn.model_selection import train_test_split

In [2]:
#Reading the CSV file into pandas dataframe
train=pd.read_excel("Data_Train.xlsx")
test=pd.read_excel("Test_set.xlsx")

### Information About Dataset

In [3]:
#checking the top 5 details of Datasets
print("\n\nTop 5 rows of the datasets :-")
train.head()

Top 5 rows of the datasets :-

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
#checking the top 5 details of Datasets
print("\n\nTop 5 rows of the datasets :-")
test.head()

Top 5 rows of the datasets :-

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [5]:
#checking the bottom 5 details of Datasets
print("\n\nBottom 5 details of the datasets :-")
train.tail()

Bottom 5 details of the datasets :-

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [6]:
#checking the bottom 5 details of Datasets
print("\n\nBottom 5 details of the datasets :-")
test.tail()

Bottom 5 details of the datasets :-

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info

In [7]:
#checking the columns in the Datasets
print("\n\nColumns in the datasets :-")
print("\nData Set : \n",'\n', list(train.columns))

Columns in the datasets :-

Data Set :

 ['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route', 'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops', 'Additional_Info', 'Price']

In [8]:
#checking the data types of features
print("\n\nDatatypes of features in the datasets :-")
print("\nData Set : \n",'\n',train.dtypes)

Datatypes of features in the datasets :-

Data Set :

 Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
Price               int64
dtype: object

In [9]:
#checking the data types of features
print("\n\nDatatypes of features in the datasets :-")
print("\nData Set : \n",'\n',test.dtypes)

Datatypes of features in the datasets :-

Data Set :

 Airline            object
Date_of_Journey    object
Source             object
Destination        object
Route              object
Dep_Time           object
Arrival_Time       object
Duration           object
Total_Stops        object
Additional_Info    object
dtype: object

In [10]:
#checking the number of rows
print("\n\nNumber of observations in the datasets :-")
print("\nData Set : \n",len(train))

#checking the number of columns
print("\n\nNumber of features in the dataset :-")
print("\nData Set : ", len(train.columns))


#checking the shape of dataset
print("\n\nShape of the dataset :-")
print("\nData Set : \n",train.shape)

Number of observations in the datasets :-

Data Set :
 10683


Number of features in the dataset :-

Data Set :  11


Shape of the dataset :-

Data Set :
 (10683, 11)

In [11]:
#checking the number of rows
print("\n\nNumber of observations in the datasets :-")
print("\nData Set : \n",len(test))

#checking the number of columns
print("\n\nNumber of features in the dataset :-")
print("\nData Set : ", len(test.columns))


#checking the shape of dataset
print("\n\nShape of the dataset :-")
print("\nData Set : \n",test.shape)

Number of observations in the datasets :-

Data Set :
 2671


Number of features in the dataset :-

Data Set :  10


Shape of the dataset :-

Data Set :
 (2671, 10)

In [12]:
#checking for NaNs or empty cells by features
print("\n\nNumber of empty cells or Nans value in the datasets :-")
print("\nData Set :- \n",'\n', train.isnull().sum())

Number of empty cells or Nans value in the datasets :-

Data Set :-

 Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [13]:
#checking for NaNs or empty cells by features
print("\n\nNumber of empty cells or Nans value in the datasets :-")
print("\nData Set :- \n",'\n', test.isnull().sum())

Number of empty cells or Nans value in the datasets :-

Data Set :-

 Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              0
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        0
Additional_Info    0
dtype: int64

In [14]:
#Cheking Unique values in features
for i in train.columns:
    print("Unique values in", i, train[i].nunique())

Unique values in Airline 12
Unique values in Date_of_Journey 44
Unique values in Source 5
Unique values in Destination 6
Unique values in Route 128
Unique values in Dep_Time 222
Unique values in Arrival_Time 1343
Unique values in Duration 368
Unique values in Total_Stops 5
Unique values in Additional_Info 10
Unique values in Price 1870

In [15]:
#Cheking Unique values in features
for i in test.columns:
    print("Unique values in", i, test[i].nunique())

Unique values in Airline 11
Unique values in Date_of_Journey 44
Unique values in Source 5
Unique values in Destination 6
Unique values in Route 100
Unique values in Dep_Time 199
Unique values in Arrival_Time 704
Unique values in Duration 320
Unique values in Total_Stops 5
Unique values in Additional_Info 6

# Data pre-processing

In [16]:
train_df = train[['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info', 'Date_of_Journey', 'Duration','Dep_Time', 
                  'Route', 'Arrival_Time', 'Price']]
test_df = test[['Airline', 'Source', 'Destination', 'Total_Stops', 'Additional_Info', 'Date_of_Journey','Duration', 'Dep_Time', 
                'Route', 'Arrival_Time']]

***Creating feature column of Booking Class***

In [17]:
Class = {'IndiGo': 'Economy',
         'GoAir': 'Economy',
         'Vistara': 'Economy',
         'Vistara Premium economy': 'Premium Economy',
         'Air Asia': 'Economy',
         'Trujet': 'Economy',
         'Jet Airways': 'Economy',
         'SpiceJet': 'Economy',
         'Jet Airways Business': 'Business',
         'Air India': 'Economy',
         'Multiple carriers': 'Economy',
         'Multiple carriers Premium economy': 'Premium Economy'}
train_df['Booking_Class'] = train_df['Airline'].map(Class)
test_df['Booking_Class'] = test_df['Airline'].map(Class)

***Creating feature column of booking date by considering 1 march fixed date***

In [18]:
df1 = train_df.copy() 
df1['Day_of_Booking'] = '1/3/2019'
df1['Day_of_Booking'] = pd.to_datetime(df1['Day_of_Booking'],format='%d/%m/%Y')
df1['Date_of_Journey'] = pd.to_datetime(df1['Date_of_Journey'],format='%d/%m/%Y')
df1['Days_to_Departure'] = (df1['Date_of_Journey'] - df1['Day_of_Booking']).dt.days
train_df['Days_to_Departure'] = df1['Days_to_Departure']

df2 = test_df.copy() 
df2['Day_of_Booking'] = '1/3/2019'
df2['Day_of_Booking'] = pd.to_datetime(df2['Day_of_Booking'],format='%d/%m/%Y')
df2['Date_of_Journey'] = pd.to_datetime(df2['Date_of_Journey'],format='%d/%m/%Y')
df2['Days_to_Departure'] = (df2['Date_of_Journey'] - df2['Day_of_Booking']).dt.days
test_df['Days_to_Departure'] = df2['Days_to_Departure']

del df1, df2

***Converting Arrival time***

In [19]:

train_df['Arrival_Time'] = train['Arrival_Time'].str.split(' ').str[0]
test_df['Arrival_Time'] = test['Arrival_Time'].str.split(' ').str[0]

***Categorizing departure to generalized information of travel time***

In [20]:
def get_departure(dep):
    dep = dep.split(':')
    dep = int(dep[0])
    if (dep >= 6 and dep < 12):
        return 'Morning'
    elif (dep >= 12 and dep < 17):
        return 'Noon'
    elif (dep >= 17 and dep < 20):
        return 'Evening'
    else:
        return 'Night'
    
train_df['Dep_timeofday'] = train['Dep_Time'].apply(get_departure)   
test_df['Dep_timeofday'] = test['Dep_Time'].apply(get_departure) 

train_df['Arr_timeofday'] = train['Arrival_Time'].apply(get_departure)   
test_df['Arr_timeofday'] = test['Arrival_Time'].apply(get_departure)

***Converting total stopes***

In [21]:
train_df['Total_Stops'] = train_df['Total_Stops'].str.replace('non-stop','0')
train_df['Total_Stops'] = train_df['Total_Stops'].str.replace('stops','')
train_df['Total_Stops'] = train_df['Total_Stops'].str.replace('stop','')
train_df['Total_Stops'].fillna(0, inplace=True)   
train_df['Total_Stops'] = train_df['Total_Stops'].astype(float)

test_df['Total_Stops'] = test_df['Total_Stops'].str.replace('non-stop','0')
test_df['Total_Stops'] = test_df['Total_Stops'].str.replace('stops','')
test_df['Total_Stops'] = test_df['Total_Stops'].str.replace('stop','')
#test_df['Total_Stops'].fillna(0, inplace=True)
test_df['Total_Stops'] = test_df['Total_Stops'].astype(float)

***Categorizing travel duration to generalized information***

In [22]:

minute=train_df['Duration'].str.slice(3,).str.extract('(\d+)')
hour=train_df['Duration'].str.extract('(\d+)').astype('int')
minute=minute.fillna(0) 
train_df['Duration']=minute.astype('int')+hour*60

minute=test_df['Duration'].str.slice(3,).str.extract('(\d+)')
hour=test_df['Duration'].str.extract('(\d+)').astype('int')
minute=minute.fillna(0) 
test_df['Duration']=minute.astype('int')+hour*60

In [23]:
train_df['Additional_Info'] = train_df['Additional_Info'].str.replace('No info', 'No Info')
test_df['Additional_Info'] = test_df['Additional_Info'].str.replace('No info', 'No Info')

***Creating feature column Travel route extracting infromation of route***

In [24]:
def clean_route(route):
    route = str(route)
    route = route.split(' → ')
    return ' '.join(route)

train_df['Route'] = train_df['Route'].apply(clean_route)
test_df['Route'] = test_df['Route'].apply(clean_route)

from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(ngram_range=(1, 1), lowercase=False)
train_route = tf.fit_transform(train_df['Route'])
test_route = tf.transform(test_df['Route'])

train_route = pd.DataFrame(data=train_route.toarray(), columns=tf.get_feature_names())
test_route = pd.DataFrame(data=test_route.toarray(), columns=tf.get_feature_names())

***Creating feature column Price tag extracting infromation of price categories***

In [25]:
def price_flag(Price):
    if Price >0 and Price <=8000:
        return 0
    if Price >8000 and Price <=15000:
        return 1
    if Price >15000:
        return 2
  
train_df['Price_Tag'] = train_df['Price'].apply(price_flag)

In [26]:
train_df = pd.concat([train_df, train_route], axis=1) 
train_df.drop('Route', axis=1, inplace=True)

test_df = pd.concat([test_df, test_route], axis=1) 
test_df.drop('Route', axis=1, inplace=True)

## Machine Learning Model

In [27]:
train_df.head()

,Airline,Source,Destination,Total_Stops,Additional_Info,Date_of_Journey,Duration,Dep_Time,Arrival_Time,Price,...,PAT,PNQ,RPR,STV,TRV,UDR,VGA,VNS,VTZ,nan
0,IndiGo,Banglore,New Delhi,0.0,No Info,24/03/2019,170,22:20,01:10,3897,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Air India,Kolkata,Banglore,2.0,No Info,1/05/2019,445,05:50,13:15,7662,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Jet Airways,Delhi,Cochin,2.0,No Info,9/06/2019,1140,09:25,04:25,13882,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,IndiGo,Kolkata,Banglore,1.0,No Info,12/05/2019,325,18:05,23:30,6218,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,IndiGo,Banglore,New Delhi,1.0,No Info,01/03/2019,285,16:50,21:35,13302,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

***Creating dummies for categarical variable***

In [28]:
train_df = pd.get_dummies(train_df, columns=['Airline', 'Source', 'Destination', 'Additional_Info', 'Date_of_Journey',
                                             'Dep_Time', 'Arrival_Time', 'Dep_timeofday', 'Booking_Class', 'Arr_timeofday','Price_Tag'],
                          drop_first=True)
test_df = pd.get_dummies(test_df, columns=['Airline', 'Source', 'Destination', 'Additional_Info', 'Date_of_Journey',
                                           'Dep_Time', 'Arrival_Time', 'Dep_timeofday', 'Booking_Class', 'Arr_timeofday'],
                         drop_first=True)

In [29]:
# Dependent Variable
y = train_df.iloc[:, -1].values

# Independent Variables
X = train_df.iloc[:,0 : -1].values

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_cv, y_train, y_cv = train_test_split(X, y, test_size=0.3, random_state=1)

In [31]:
X_train.shape, y_train.shape, X_cv.shape, y_cv.shape

((7478, 570), (7478,), (3205, 570), (3205,))

***Applying Feature Scaling Method***

In [32]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_cv = sc.transform(X_cv)

In [33]:
from math import sqrt 
from sklearn.metrics import mean_squared_log_error

***Random Forest Algorithm***

In [35]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 10)
rf.fit(X_train, y_train)
rf.fit(X_train, y_train)
y_pred1 = rf.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred1))))

RMSLE: 0.00021240811034142066

***Xgboost Algorithm***

In [36]:
from xgboost import XGBRegressor
xgb = XGBRegressor(max_depth=10, 
                   learning_rate=0.5, 
                   n_estimators=100,  
                   random_state=10)
xgb.fit(X_train, y_train)
y_pred2 = xgb.predict(X_cv)
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred2))))

RMSLE: 0.00021306036907687095

***Ensembling Models***

In [37]:
y_pred = y_pred1*0.50 + y_pred2*0.50
print('RMSLE:', sqrt(mean_squared_log_error(np.exp(y_cv), np.exp(y_pred))))

RMSLE: 0.00021271556329462875

## Predict on Test Set

***Copying the missing columns which created by the dummies***

In [38]:
train_df['Dep_Time_22:30'] = 0

In [39]:
missing_cols_test = []
for col in train_df.columns:
    if col not in test_df.columns:
        missing_cols_test.append(col)
        
for i in missing_cols_test:
    test_df[i] = 0
test_df.drop('Price', axis=1, inplace=True)

In [40]:
train_df = train_df.reindex(sorted(train_df.columns), axis=1)
test_df = test_df.reindex(sorted(test_df.columns), axis=1)

In [41]:
train_df.shape, test_df.shape

((10683, 572), (2671, 571))

***Defining x_train, y_train and y_test***

In [42]:
X_train = train_df.drop(labels='Price', axis=1)
y_train = train_df['Price'].values

X_test = test_df

In [43]:
X_train.shape, X_test.shape

((10683, 571), (2671, 571))

***Random Forest Algorithm***

In [44]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators = 100, random_state = 10)
rf.fit(X_train, y_train)
y_pred1 = rf.predict(X_test)

***Xgboost Algorithm***

In [45]:
from xgboost import XGBRegressor
xgb = XGBRegressor(max_depth=10, 
                   learning_rate=0.5, 
                   n_estimators=100,  
                   random_state=10)
xgb.fit(X_train, y_train)
y_pred2 = xgb.predict(X_test)

***Ensembling Models***

In [46]:
y_pred = y_pred1*0.50 + y_pred2*0.50

***Predecting Results***

In [47]:
y_pred

array([7010.06148437, 4369.07543945, 7345.019375  , ..., 7508.40280273,
       7200.88841797, 7200.96173828])

***Saving the Predictions to an excel sheet***

In [52]:
#Saving the predictions to an excel sheet
pd.DataFrame(y_pred, columns = ['Price']).to_excel("Prediction.xlsx")